In [16]:
from langchain_community.utilities.sql_database import SQLDatabase

db=SQLDatabase.from_uri("mysql+pymysql://chio:milgdred@localhost/project")

### Obtaining Schema

In [17]:
def get_schema():
    return db.get_table_info(["hr"])

In [18]:
print(get_schema())

CREATE TABLE hr (
	emp_id VARCHAR(20),
	first_name TEXT,
	last_name TEXT,
	birthdate DATE,
	gender TEXT,
	race TEXT,
	department TEXT,
	jobtitle TEXT,
	location TEXT,
	hire_date DATE,
	termdate DATE,
	location_city TEXT,
	location_state TEXT,
	age INTEGER
)COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB

/*
3 rows from hr table:
emp_id	first_name	last_name	birthdate	gender	race	department	jobtitle	location	hire_date	termdate	location_city	location_state	age
00-0037846	Kimmy	Walczynski	1991-06-04	Male	Hispanic or Latino	Engineering	Programmer Analyst I	Headquarters	2002-01-20	None	Cleveland	Ohio	32
00-0041533	Ignatius	Springett	1984-06-29	Male	White	Business Development	Business Analyst	Headquarters	2019-04-08	None	Cleveland	Ohio	39
00-0045747	Corbie	Bittlestone	1989-07-29	Male	Black or African American	Sales	Solutions Engineer Manager	Headquarters	2010-10-12	None	Cleveland	Ohio	34
*/

### Trigger

In [33]:
def run_query(query:str):
    return db.run(query)

### Query Generator

In [49]:
from operator import itemgetter
from langchain_core.output_parsers import StrOutputParser
from langchain_core.prompts import PromptTemplate
from langchain_core.runnables import RunnablePassthrough
from langchain_community.tools.sql_database.tool import QuerySQLDataBaseTool
import re 
from langchain.chains import create_sql_query_chain;
from dotenv import load_dotenv
from langchain_groq import ChatGroq
from langchain_google_genai import ChatGoogleGenerativeAI
from langchain_core.prompts import ChatPromptTemplate

load_dotenv()

model=ChatGroq(model="llama3-8b-8192",temperature=0)
prompt=ChatPromptTemplate.from_messages([
("system","""You are a MySQL expert. Given an input question, first create a syntactically correct MySQL query to run, then look at the results of the query and return the answer to the input question.
Unless the user specifies in the question a specific number of examples to obtain, query for at most 5 results using the LIMIT clause as per MySQL. You can order the results to return the most informative data in the database.
Never query for all columns from a table. You must query only the columns that are needed to answer the question. Wrap each column name in backticks (`) to denote them as delimited identifiers.
Pay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.
Pay attention to use CURDATE() function to get the current date, if the question involves "today". 
 


Use the following format:

Question: Question here
SQLQuery: SQL Query to run

Only use the following tables:
{table_info}

Question: {question}
 
Important: Just return the query, not preamble
 """), 
])


generate_query = prompt | model | StrOutputParser()

def write_query(query,schema):
    pattern = r'(?<=SQLQuery: ).*'
    response=generate_query.invoke({"question":query,"table_info":schema})
    query_sql=re.search(pattern,response)

    return query_sql[0]

### Using regex to match the query (optional)

In [50]:
import re 

pattern = r'(?<=SQLQuery: ).*'


response=write_query("how many employee are there",get_schema())

response

'SELECT COUNT(*) AS total_employees FROM hr;'

## Execute SQL

In [51]:

execute_query=QuerySQLDataBaseTool(db=db)

answer_prompt = PromptTemplate.from_template(
    """Given the following user question, corresponding SQL query, and SQL result, answer the user question.

Question: {question}
SQL Query: {query}
SQL Result: {result}
Answer: """
)

answer = answer_prompt | model | StrOutputParser()



chain = (
    RunnablePassthrough()
    .assign(question=itemgetter("question"), table_info=itemgetter("table_info"))
    .assign(query=lambda x: write_query(x['question'], x['table_info']))
    .assign(result=itemgetter("query")| execute_query) | answer
)

# Verificar que `get_schema` estÃ© definido correctamente
schema = get_schema()  
result = chain.invoke({"question": "How many employees are there", "table_info": schema})

In [52]:
result

'According to the SQL result, there are **22,214** employees.'